.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
}

form {
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

.reg-log {
    margin-top: 1em;
    color: rgb(41, 61, 157);
    text-align: center;
}

button.reg-form {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #334499;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1em;
}
.reg-link {
    margin-bottom: 2em;
    font-size: smaller;
}

.lds-dual-ring {
  /*display: none;*/
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  z-index: 1000;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3f4454;
  border-color: #3f4454 transparent #3f4454 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}